{{> navbar_admin}}
<br><br><br>
{{!-- <div class="container"> --}}
<div class="col-lg-12 mt-5">
    <a href="#" class="btn" id="menu-toggle"><span class="fa fa-bars"></span></a>
    <h1 class="text-center">Dashboard Admin</h1>
</div>
  

 <div class="container mt-3">
    <h6 class="display-4s text-center">Management Sistem Hotel :</h6>    
    <div class="col-md-12 mt-5">
        <div class="row justify-content-center">
            <div class="card shadow ml-4 mb-2">
                <div class="card-body">
                    <h6 class="display-4s text-center">Kamar</h6>
                    <div class="img-responsive mt-3 mb-2">
                        
                    </div>
                    <p class="text-center">Tersedia 20 unit kamar</p>
                </div>
            </div>
            <div class="card shadow ml-4 mb-2">
                <div class="card-body">
                    <h6 class="display-4s text-center">Kamar Tersedia</h6>
                    <div class="img-responsive mt-3 mb-2">
                        
                    </div>
                    <p class="text-center">Tersedia 10 unit kamar</p>
                </div>
            </div>
            <div class="card shadow ml-4 mb-2">
                <div class="card-body">
                    <h6 class="display-4s text-center">Kamar Yang Sudah Di Booking</h6>
                    <div class="img-responsive mt-3 mb-2">
                        
                    </div>
                    <p class="text-center">Booking 10 unit kamar</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
