<div class="container">
	<div class="row border rounded mt-3 mb-3">
		<div class="col-md-12">
			<h3>Cari Hotel</h3>
		</div>
		<div class="col-md-6">
			<label for="tujuan">Tujuan :</label>
			<input class="form-control" placeholder="Kota, Hotel, Tempat Wisata" type="text" name="tujuan">
		</div>
		<div class="col-md-6">
			<label for="orang">Orang :</label>
			<input class="form-control" placeholder="Tamu" type="text" name="orang">
		</div>
		<br><br><br><br><br>
		<div class="col-md-6">
			<label for="cekin">Check In :</label>		
			<input class="form-control" placeholder="cek" value="2019-10-04" type="date" name="cekin">
		</div>	
		<div class="col-md-6">
			<label for="durasi">Durasi :</label>		
			<input class="form-control" placeholder="1 malam" type="text" name="durasi">
		</div>
		<div class="col-md-3"></div>
		<div class="col-md-3"></div>
		<div class="col-md-3"></div>
		<div class="col-md-3"><br>
			<button type="submit" class="btn btn-outline-primary float-right mb-2">find</button>
		</div>		
	</div>
</div>
<h5 class="text-center">Populer Minggu Ini</h3>

	<div class="container">
		<div class="row mt-3 mb-3">
			<div class="col-md-4">
				<div class="card" style="width: 21rem;">
					<img src="/images/3.jpg" class="card-img-top" alt="Hotel">
					<div class="card-body">
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card" style="width: 21rem;">
					<img src="/images/3.jpg" class="card-img-top" alt="Hotel">
					<div class="card-body">
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card" style="width: 21rem;">
					<img src="/images/3.jpg" class="card-img-top" alt="Hotel">
					<div class="card-body">
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="border-bottom"></div>
	</div>

	<div class="container-fluid">
		<div class="row mb-5">
			<h5 class="col-md-12 mt-5">Partner Hotel</h5>
			<div class="col-md-3">
				<p class="text-justify">Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Curabitur aliquet quam id dui posuere blandit. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Proin eget tortor risus. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.</p>
			</div>
			<div class="col-md-4 ml-5">
				<img src="/images/hicon.jpg" alt="Hotel Icon">
				<img src="/images/hicon.jpg" alt="Hotel Icon">
				<img src="/images/hicon.jpg" alt="Hotel Icon">
				<img src="/images/hicon.jpg" alt="Hotel Icon">
				<img src="/images/hicon.jpg" alt="Hotel Icon">
				<img src="/images/hicon.jpg" alt="Hotel Icon">
			</div>
			<div class="col-md-4">
				<img src="/images/hicon.jpg" alt="Hotel Icon">
				<img src="/images/hicon.jpg" alt="Hotel Icon">
				<img src="/images/hicon.jpg" alt="Hotel Icon">
				<img src="/images/hicon.jpg" alt="Hotel Icon">
				<img src="/images/hicon.jpg" alt="Hotel Icon">
				<img src="/images/hicon.jpg" alt="Hotel Icon">
			</div>
		</div><div class="border-bottom"></div>
	</div>


	<div class="container-fluid">
		<div class="row mb-5 mt-5">
			<div class="col-md-4">
				<img src="/images/alfamart.jpg" alt="Hotel Icon">
				<img src="/images/alfamart.jpg" alt="Hotel Icon">
				<img src="/images/alfamart.jpg" alt="Hotel Icon">
				<img src="/images/alfamart.jpg" alt="Hotel Icon">
				<img src="/images/alfamart.jpg" alt="Hotel Icon">
				<img src="/images/alfamart.jpg" alt="Hotel Icon">
			</div>
			<div class="col-md-4">
				<img src="/images/alfamart.jpg" alt="Hotel Icon">
				<img src="/images/alfamart.jpg" alt="Hotel Icon">
				<img src="/images/alfamart.jpg" alt="Hotel Icon">
				<img src="/images/alfamart.jpg" alt="Hotel Icon">
				<img src="/images/alfamart.jpg" alt="Hotel Icon">
				<img src="/images/alfamart.jpg" alt="Hotel Icon">
			</div>
			
			<div class="col-md-3">
				<h5>Partner Pembayaran</h5>
				<p class="text-justify">Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Curabitur aliquet quam id dui posuere blandit. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Proin eget tortor risus. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.</p>
			</div>
		</div><div class="border-bottom"></div>
	</div>

<div class="container">
	<div class="row">
		<h4 class="text-center mt-3">About Me</h4>
		<p class="text-justify">Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Donec sollicitudin molestie malesuada. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget tortor risus. Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</p>
		<p class="text-justify">Cras ultricies ligula sed magna dictum porta. Donec sollicitudin molestie malesuada. Proin eget tortor risus. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Donec sollicitudin molestie malesuada. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Donec rutrum congue leo eget malesuada. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Donec sollicitudin molestie malesuada. Nulla quis lorem ut libero malesuada feugiat. Donec rutrum congue leo eget malesuada. Sed porttitor lectus nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Nulla quis lorem ut libero malesuada feugiat. Vivamus suscipit tortor eget felis porttitor volutpat. Donec rutrum congue leo eget malesuada. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Nulla quis lorem ut libero malesuada feugiat.</p>
	</div>
</div>
<p class="border-top text-center mt-0">Build By [M3]</p>