<div class="row justify-content-center">
	<div class="col-4">
		<div class="card mt-5" style="width: 500px;">
			<div class="card-body">
				<form action="/register" method="post">
					<div class="form-group">
						<div class="text-center mb-5">
							<span style="font-size:40px;"><a href="/" style="color:#007dad;" title="Home">[M3]Node</span></a> <span style="font-size:40px;">Hotel</span><br>
							<span style="font-size:30px;">Register</span><br />
						</div>
						<label for="mail">Username :</label>
						<input type="text" name="name" placeholder="Your Name" id="name" value="" class="form-control">
					</div>
					<div class="form-group">
						<label for="mail">E-mail :</label>
						<input type="email" name="mail" placeholder="emailname123@" id="mail" value="" class="form-control">
					</div>
					<div class="form-group">
						<label for="pass">Password :</label>
						<input type="password" name="pass" placeholder="Your Password" id="pass" value="" class="form-control">
					</div>
					<button type="submit" class="float-right btn btn-primary">SigUp</button>
				</form>
				{{!-- <a href="#" title="Forgot Your Password">Forgot Password ?</a><br><br> --}}
				<span class="mt-4">Have An Account ?</span> <a style="" href="/login" title="Register">Login Here</a>
			</div>
		</div><br>
	</div>
</div>
